{% extends "base.html" %}
{% block content %}
<form method="POST" class="post-form" action="/updateClient/{{client.id}}">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Update Client</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Client Id:</label>
    <div class="col-sm-4">
        <input type="text" name="id" id="id_id" required maxlength="20" value="{{ client.id }}"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Client First Name:</label>
    <div class="col-sm-4">
        <input type="text" name="first_name" id="id_first_name" required maxlength="100" value="{{ client.first_name }}" />
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Client Last Name:</label>
    <div class="col-sm-4">
        <input type="text" name="last_name" id="id_last_name" required maxlength="100" value="{{ client.last_name }}" />
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Client Email:</label>
    <div class="col-sm-4">
        <input type="text" name="email" id="id_email" required maxlength="254" value="{{ client.email }}" />
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Client Address:</label>
    <div class="col-sm-4">
        <input type="text" name="address" id="id_address" required maxlength="15" value="{{ client.address }}" />
    </div>
  </div>
        <div class="form-group row">
    <label class="col-sm-2 col-form-label">Client Phone Number:</label>
    <div class="col-sm-4">
        <input type="text" name="phone_number" id="id_phone_number" required maxlength="15" value="{{ client.phone_number }}" />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Client sex:</label>
    <div class="col-sm-4">
        <select name="sex" id="sex" required value="{{ client.sex }}">
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </div>
    </div>
</form>
{% endblock content %}