{% extends "base.html" %}
{% block content %}
<form method="POST" class="post-form" action="/updateSO/{{so.id}}">
        {% csrf_token %}
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Update Sale Order</h3>
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Sale Order Id:</label>
    <div class="col-sm-4">
        <input name="id" id="id_id" required maxlength="20" value="{{ so.id }}"/>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Sale Order Date:</label>
    <div class="col-sm-4">
        <input name="date" id="id_date" required maxlength="100" value="{{ so.date }}" />
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Sale Order Description:</label>
    <div class="col-sm-4">
        <input name="client" id="id_client" required maxlength="245" value="{{ so.client }}" />
    </div>
  </div>
        <div class="form-group row">
    <label class="col-sm-2 col-form-label">Sale Order Description:</label>
    <div class="col-sm-4">
        <input name="deal" id="id_deal" required maxlength="245" value="{{ so.deal}}" />
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label">Sale Order Initial Price:</label>
    <div class="col-sm-4">
        <input name="quantity" id="id_quantity" required maxlength="15" value="{{ so.quantity }}" />
    </div>
  </div>
        <div class="form-group row">
    <label class="col-sm-2 col-form-label">Sale Order Start Date:</label>
    <div class="col-sm-4">
        <input name="total_paid" id="id_total_paid" required value="{{ so.total_paid}}" />
    </div>
  </div>
    <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </div>
    </div>
</form>
{% endblock content %}
